In [1]:
import streamlit as st
import pandas as pd
df = pd.DataFrame({
  'first column': [1, 2, 3, 4],
  'second column': [10, 20, 30, 40]
})

df

   first column  second column
0             1             10
1             2             20
2             3             30
3             4             40

In [2]:
import streamlit as st
import pandas as pd

st.write("Here's our first attempt at using data to create a table:")
st.write(pd.DataFrame({
    'first column': [1, 2, 3, 4],
    'second column': [10, 20, 30, 40]
}))

2025-11-14 21:28:05.450 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-14 21:28:05.697
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\bipin\anaconda3\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]
2025-11-14 21:28:05.698 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-14 21:28:05.723 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-14 21:28:05.724 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.